.post-card {
    max-width: 500px;
    margin: 40px auto;
}

.post-card:hover {
    cursor: pointer;
    background-color: #efefef;

}

.example-spacer {
    flex: 1 1 auto;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}